<div *ngIf="isOpenModal">
  
  </div>
  <div class="w-full" >
    <app-modal [title]="'Crear Asignatura'" *ngIf="isOpenModal">
      <form class="w-full max-w-l px-3" (ngSubmit)="updateAsignatura()" >
        <div class="flex flex-col w-full -mx-3 mb-6">
          <div class="w-full   mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Nombre
            </label>
            <input [(ngModel)]="asignatura.nombre" ngDefaultControl [ngModelOptions]="{standalone: true}" class="appearance-none block w-full  text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white transition-all duration-300" id="grid-first-name" type="text" placeholder="Nombre" name="Nombre">
          </div>
          <div class="w-full ">
            <label  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Estatus
            </label>
            <input [(ngModel)]="asignatura.estatus" ngDefaultControl [ngModelOptions]="{standalone: true} " class="appearance-none block w-full  text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none  focus:bg-white transition-all duration-300" id="grid-last-name" type="text" placeholder="Descripcion" name="Descripcion">
          </div>
        </div>
        <div class="flex justify-end  mb-2">
          <div class="mb-6 mx-2">
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition-all duration-300" (click)="closeModal()">
              Cancelar
            </button>
          </div>
          <div class="mb-6 ">
            <button class="bg-blue-500 hover:transition-all  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all duration-300" type="submit">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </app-modal>
  </div>
  